@page
@model SMBFileShares.Pages.IndexModel
@{
}
<h1>Windows File Shares</h1>
<h3><a href="/api/files/copy">Copy a test file to the share</a></h3>
<h3><a href="/api/files/list">List files in the share</a></h3>
<h3><a href="/api/files/delete">Delete the test file from the share</a></h3>
