<?xml version="1.0" encoding="utf-8"?>
<!--
  This file is used when building solution files.
  The copies inside project directories exist for `cf push`.
-->
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="SteeltoeCI" value="https://pkgs.dev.azure.com/dotnet/Steeltoe/_packaging/ci/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="SteeltoeCI">
      <package pattern="Steeltoe.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
