; ============================================================================
; example user behave configuration file
; ----------------------------------------------------------------------------
; https://pythonhosted.org/behave/behave.html#configuration-files
; ============================================================================

[behave.userdata]

; ----------------------------------------------------------------------------
; define these if running CloudFoundry-based scenarios
; ----------------------------------------------------------------------------
; cf_apiurl = myapirurl
; cf_username = myusername
; cf_password = mypassword
; cf_org = myorg

; ----------------------------------------------------------------------------
; whether to enter debugger upon error - handy in debugging failures
; ----------------------------------------------------------------------------
; debug_on_error = yes

; ----------------------------------------------------------------------------
; you probably want this - run background processes in own windows
; ----------------------------------------------------------------------------
; windowed = yes

; ----------------------------------------------------------------------------
; set this to override per-scenario random space name generation
; ----------------------------------------------------------------------------
; cf_space = myspace

; ----------------------------------------------------------------------------
; set these to <0 to wait ad infinitum
; ----------------------------------------------------------------------------
; max_attempts = -1
; cf_max_attempts = -1
