@{
    ViewData["Title"] = "Cache Data using ConnectionMultiplexor";
}
<h2>@ViewData["Title"].</h2>
<h3>ConnectionMultiplexorKey1=@ViewData["ConnectionMultiplexorKey1"]</h3>
<h3>ConnectionMultiplexorKey2=@ViewData["ConnectionMultiplexorKey2"]</h3>
