@inherits LayoutComponentBase

<header class="sticky-top bg-white" style="box-shadow: 0 0 20px -4px #eeeeee;">
    <nav class="bg-white navbar navbar-expand-xl container py-xl-2 navbar-light">
        <div style="width: 40%"><img id="logo" class="svg" src="/img/logo.svg" alt="Steeltoe" /></div>
        <div style="width: 60%"><h1 class="text-midnight-blue">All Actuators Sample</h1></div>
    </nav>
</header>

<div class="container-fluid">
    <div class="row justify-content-center text-midnight-blue text-capitalize subnav">
        <div class="col-6">
            <div class="row justify-content-center">
                <div class="col-2"><a href="/">Actuators</a></div>
                <div class="col-2"><a href="/data">Database</a></div>
                <div class="col-2"><a href="/swagger" target="_blank">Swagger Doc</a></div>
            </div>
        </div>
    </div>
    <div class="row bg-midnight-blue text-white">
        <div class="col-12 body-content">
            @Body
        </div>
    </div>
</div>
