@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <h2>Steeltoe Security Sample, for Cloud Foundry</h2>
        <p>
            When deployed to Cloud Foundry, this application will read service bindings and apply configurations accordingly.
            Use the links below to interact with the SSO service instance and the (optional) backing services
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Single Sign-on</h2>
        <p>
            If you've followed the README and the scripts have worked, you will be able to reach the first link but be unauthorized for the second:
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="TestGroup">Check if you are a member of "testgroup"</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="AnotherTestGroup">Check if you are a member of "testgroup1"</a></li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>JWT Authentication</h2>
        <p>
            Send requests to &quot;CloudFoundryJwtAuthentication&quot; @if (string.IsNullOrEmpty(User.Identity?.Name)){ <b>after signing in</b> } else{ <span>as @User.Identity.Name</span> }
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="InvokeJwtSample">Send a request to the JWT Authentication sample</a></li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Mutual TLS Authentication</h2>
        <p>
            Send requests to &quot;CloudFoundryCertificateAuthentication&quot; using the certificate provided to &quot;CloudFoundrySingleSignon&quot;
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="InvokeSameSpaceSample">SameSpace</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="InvokeSameOrgSample">SameOrg</a></li>
            </ul>
        </p>
    </div>
</div>
