<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Steeltoe Actuators</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/loggingService.js"></script>
    <script src="~/js/loggingViewService.js"></script>
    <script src="~/js/loggingFunctions.js"></script>
</head>
<body class="bg-midnight-blue text-white">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="https://steeltoe.io/" target="_blank"><img id="logo" class="svg" src="/img/steeltoe-logo.svg" alt="Steeltoe" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Page" asp-action="Index">Actuators</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Page" asp-action="Logging">Logging</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Page" asp-action="Migration">Migration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/swagger" target="_blank">Swagger</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://docs.steeltoe.io/api/v3/management/" target="_blank">Documentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://start.steeltoe.io/" target="_blank">Initializr</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Steeltoe Actuators Sample - <a href="https://steeltoe.io/" target="_blank">Steeltoe.io</a>
        </div>
    </footer>
</body>
</html>
