@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>random:int=@ViewData["random:int"];</p>
    <p>random:long=@ViewData["random:long"];</p>
    <p>random:int(10)=@ViewData["random:int(10)"];</p>
    <p>random:long(100)=@ViewData["random:long(100)"];</p>
    <p>random:int(10,20)=@ViewData["random:int(10,20)"];</p>
    <p>random:long(100,200)=@ViewData["random:long(100,200)"];</p>
    <p>random:uuid=@ViewData["random:uuid"];</p>
    <p>random:string=@ViewData["random:string"];</p>
</div>
