<div class="jumbotron">
    <div class="media">
        <a class="pull-left" href="http://steeltoe.io">
            <img class="" src="http://steeltoe.io/images/transparent.png" title="Steeltoe" alt="Steeltoe" />
        </a>
        <div class="media-body">
            <h1 class="media-heading">Steeltoe</h1>
        </div>
    </div>
    <p class="lead">Painless microservice patterns for .NET.</p>
    <p class="lead">For all their benefits, microservice architectures expose many distributed computing problems that traditional monoliths avoided. Steeltoe brings the power of resilient, scalable microservices to .NET developers, without all the headache.</p>
    <p><a href="http://steeltoe.io" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p class="lead">Your fortune: @ViewData["MyFortune"]</p> 
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Service Discovery</h2>
        <p>
            How do you make the the interactions between your microservices reliable and failure tolerant? For starters, you need a service registry—basically a phone book for your microservices—so service consumers know exactly where to find healthy service instances. Steeltoe includes a .NET client for Netflix Eureka so your microservices can register themselves and discover other registered services.
        </p>
        <p><a class="btn btn-default" href="https://github.com/SteeltoeOSS/Discovery">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Configuration</h2>
        <p>“Strict separation of config from code” has become a cloud mandate, but that begs the question, where do you put it? And once you’ve externalized your config from your app, how do you track who changed what, when? Steeltoe leverages Spring Cloud Config Server so you can store your app’s config in a centralized, version-controlled git repo and then load it at runtime.</p>
        <p><a class="btn btn-default" href="https://github.com/SteeltoeOSS/Configuration">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Service Connectors</h2>
        <p>Steeltoe automatically wires up common backing services like Redis, RabbitMQ, MySQL and Postgres because no microservice is an island. And because it was built by Pivotal, Steeltoe integrates elegantly with Cloud Foundry.</p>
        <p><a class="btn btn-default" href="https://github.com/SteeltoeOSS/Connectors">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Security Services</h2>
        <p>Steeltoe automatically wires up common backing services like Redis, RabbitMQ, MySQL and Postgres because no microservice is an island. And because it was built by Pivotal, Steeltoe integrates elegantly with Cloud Foundry.</p>
        <p><a class="btn btn-default" href="https://github.com/SteeltoeOSS/Security">Learn more &raquo;</a></p>
    </div>
</div>