@model LoggingViewModel

@{
    ViewData["Title"] = "Steeltoe Actuators - Logging";
}

<div class="text-center">
    <h1>Dynamic Logging</h1>
</div>

<div>
    @using (Html.BeginForm("SetLogLevel", "Page", FormMethod.Post))
    {
        @Html.DropDownListFor(x => x.SelectedNamespace, Model.Namespaces, "Please Select Namespace", new
        {
            htmlAttributes = new
            {
                @class = "form-control"
            }
        });
        <br /><br />
        @Html.DropDownListFor(x => x.SelectedLevel, Model.Levels, "Please Select Level", new
        {
            htmlAttributes = new
            {
                @class = "form-control"
            }
        });
        <br /><br />
        <input type="submit" value="Change Log Level" />
    }
</div>

<table class="table text-white">
    <thead>
        <tr>
            <th>Current Namespace Levels</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loggerNamespace in Model.Namespaces)
        {
            <tr>
                <td>@loggerNamespace.Text</td>
            </tr>
        }
    </tbody>
</table>
