@{
    ViewData["Title"] = "Steeltoe Actuators - Logging";
}

<div class="text-center">
    <h1>Dynamic Logging</h1>
</div>

<div class="text-center log-description">
    <p>Steeltoe's Dynamic Logging framework can alter log levels through http requests.<br />Select the various levels below to alter
    the given log level of the desired namespace.</p>
</div>

<div>
    <table id="logTable" class="table log-table text-white">
        <thead>
            <tr>
                <th>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <input id="searchFilter" type="text" class="form-control" placeholder="Search Namespace" value="" />
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary" onclick="filterNamespaces(); return false;">Search</button>
                        </div>
                    </div>
                    <div>
                        <br />
                        <ul id="Page-List" class="inline-list"></ul>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody id="logTable-body"></tbody>
    </table>
</div>
<script>
    initializeLogging();
</script>