@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Steeltoe Actuators";
}

<div class="text-center">
    <h1>Data Migration</h1>
</div>

<table class="table text-white">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Company</td>
            </tr>
        }
    </tbody>
</table>

