@model IEnumerable<TestData>
@{
    ViewData["Title"] = "Steeltoe EF Core PostgreSQL Sample";
}
<h2>Test data from PostgreSQL:</h2>
<ul>
    @foreach (var td in Model)
    {
        <li>@td.Id: @td.Data</li>
    }
</ul>