<?xml version="1.0" encoding="utf-8"?>
<!--
  The `nuget.config` file in the repository root is typically used by IDEs,
  whereas a copy in a samples directory is used by `cf push`.

  Use the script /tools/sync-nuget-config.ps1 to keep these files in sync.
  Do not commit changes to this file directly.
-->
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Steeltoe-ci" value="https://pkgs.dev.azure.com/dotnet/Steeltoe/_packaging/ci/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Steeltoe-ci">
      <package pattern="Steeltoe.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
