services:
  fortune-teller-service:
    image: ${DOCKER_REGISTRY}fortunetellerservice
    build:
      context: .
      dockerfile: Fortune-Teller-Service/Dockerfile
    depends_on:
    - eurekaserver
    ports:
      - "5080:80"

  fortune-teller-ui:
    image: ${DOCKER_REGISTRY}fortunetellerui
    build:
      context: .
      dockerfile: Fortune-Teller-UI/Dockerfile
    depends_on:
    - eurekaserver
    ports:
      - "5555:80"

  eurekaserver:
    image: steeltoe.azurecr.io/eureka-server:latest
    ports:
    - "8761:8761"