@using Steeltoe.Samples.MongoDb.Data
@model Steeltoe.Samples.MongoDb.Models.MongoDbViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- Steeltoe: Display information from MongoDB. -->
<div class="alert alert-secondary">
    <h4>MongoDB server info</h4>
    <table class="table table-bordered table-primary">
        <thead>
        <tr>
            <th scope="col">Connection String</th>
            <th scope="col">Database</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>@Model.ConnectionString</td>
            <td>@Model.Database</td>
        </tr>
        </tbody>
    </table>

    <h4>Objects stored in MongoDB collection</h4>
    <table class="table table-bordered table-primary">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Text</th>
        </tr>
        </thead>
        <tbody>
        @foreach (SampleObject sampleObject in Model.SampleObjects)
        {
            <tr>
                <td>@sampleObject.Id</td>
                <td>@sampleObject.Text</td>
            </tr>
        }
        </tbody>
    </table>
</div>
