@{
    ViewData["Title"] = "Cache Data using ConnectionMultiplexer";
}
<h2>@ViewData["Title"].</h2>
<h3>ConnectionMultiplexerKey1=@ViewData["ConnectionMultiplexerKey1"]</h3>
<h3>ConnectionMultiplexerKey2=@ViewData["ConnectionMultiplexerKey2"]</h3>
