@page "/"

<div class="row bg-midnight-blue text-white justify-content-center">
    <div class="col-6">
        <h3>Actuator Endpoints</h3>

        <ul>
            <li><a href="/actuator" target="_blank">Actuator List (/actuator)</a></li>
            <li><a href="/actuator/health" target="_blank">Health Actuator (/actuator/health)</a></li>
            <li><a href="/actuator/info" target="_blank">Info Actuator (/actuator/info)</a></li>
        </ul>
    </div>
</div>

