@page "/"

<h1>Steeltoe Sample Actuator Sample</h1>

Steeltoe Actuator Links

<ul>
    <li><a href="/actuator" target="_blank">Actuator Links (/actuator)</a></li>
    <li><a href="/actuator/health" target="_blank">Actuator Info (/actuator/info)</a></li>
    <li><a href="/actuator/info" target="_blank">Actuator Info (/actuator/info)</a></li>
</ul>
