@model Dictionary<string, string>?
@{
    ViewData["Title"] = "Upload Files";
}

@if (Model?.Count > 0)
{
    if (Model.Any(file => file.Key == "error"))
    {
        <h2 class="alert alert-danger">There was an error uploading the files</h2>
        <h3 class="alert">@Model["error"]</h3>
        <hr class="hr"/>
    }
    else
    {
        <h2 class="alert alert-info">Files were uploaded successfully</h2>

        @foreach ((string originalFilename, string savedFilename) in Model)
        {
            <p>Original file name: @originalFilename, saved as: @savedFilename</p>
        }

        <hr class="hr"/>
    }
}

<h2>@ViewData["Title"]</h2>
<form enctype="multipart/form-data" method="post" asp-controller="Files" asp-action="Upload">
    <dl>
        <dt>
            <label for="files">Upload one or more files with this form:</label>
        </dt>
        <dd>
            <input type="file" name="files" id="files" multiple class="form-control"/>
        </dd>
    </dl>
    <input class="btn btn-primary" type="submit" value="Upload file(s)"/>
</form>
