@{
    ViewData["Title"] = "Protected Data";
}
<h2>@ViewData["Title"].</h2>
<h3>InstanceIndex=@ViewData["InstanceIndex"]</h3>
<h3>SessionId=@ViewData["SessionID"]</h3>
<h3>ProtectedData=@ViewData["SomethingProtected"]</h3>


