
<div class="jumbotron container">
    <h1>Fortune Teller!</h1>
    <p>Find out what the future holds...</p>
</div>
<div class="row">
    <div class="col-xs-4 text-center"><h4><a href="#/">Get a random fortune using a discrete HystrixCommand</a></h4></div>
    <div class="col-xs-4 text-center"><h4><a href="#random2">Get a random fortune using pipelined HystrixCommand</a></h4></div>
    <div class="col-xs-4 text-center"><h4><a href="#multiple">Get Multiple fortunes at once</a></h4></div>
</div>

<div ng-view class="container h3"></div>
