@model PlaceholderValues
@{
    ViewData["Title"] = "Placeholder Values";
}
<div class="text-center">
    <h1>Result of Placeholder Resolution from Configuration</h1>
    <table class="table table-bordered">
        <tr><th>Configuration key</th><th>Resolved value</th></tr>
        <tr><td>ResolvedPlaceholderFromEnvVariables</td><td>@Model.ResolvedPlaceholderFromEnvVariables</td></tr>
        <tr><td>UnresolvedPlaceholder</td><td>@Model.UnresolvedPlaceholder</td></tr>
        <tr><td>ResolvedPlaceholderFromJson</td><td>@Model.ResolvedPlaceholderFromJson</td></tr>
    </table>
    <h4>Review the contents of appsettings.json to see the original values assigned to these keys</h4>
</div>